$primary-color-1: #f3f3f3;

.adminAccounts {

    table {
        background-color: $primary-color-1;
        margin: 0 auto;
        padding: 8px;
        width: 350px;
        border-radius: 10px;
        border-spacing: 10px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-size: 18px;
    }

    th {
        text-align: left;    
    }

    .editIcon {
        position: relative;
        border: none;
        background-color: #FF6060;
        border-radius: 20px;
        padding: 3px;
        height: 20px;
        width: 20px
    }

    .text-centered {
        text-align: center;
    }
    
    .checkin{
        margin-top: 20px;
        font-style: normal;
        font-weight: 500;
    }
    
    .checkin button {
        border: none;
        border-radius: 6px;
        background-color: #FF6060;
        width: 120px;
        height: 40px;
        color: #000000;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        margin-bottom: 20px;
    }
    
    .checkin button:hover,
    .checkin button:focus {
        background: #FF8080;
    }
    
    .checkin button:focus {
        outline-offset: -6px;
    }
    
    .checkin button:active {
        transform: scale(0.99);
    }

    .editIcon:hover {
        background: #FF8080;
    }
    
    .editIcon:active {
        transform: scale(0.98);
    }
    
    .padded {
        padding: 20px;
    }

    .hidden {
        visibility: hidden;
    }
}