.AdminCreateEvents .text-centered {
  text-align: center;
}

.AdminCreateEvents .text-left {
  text-align: right;
}

.AdminCreateEvents .padded {
  padding: 20px;
}

.AdminCreateEvents .centered-container {
  width: 400px;
  background: #f3f3f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 20px;
}

.AdminCreateEvents .formEntry {
  margin-bottom: 20px;
}

.AdminCreateEvents .formEntry input {
  width: calc(100% - 10px);
  height: 30px;
  border-radius: 4px;
  border: 1px solid black;
  padding-left: 10px;
}

.AdminCreateEvents .flexRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.AdminCreateEvents .preview-publish {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 25px;
}

.AdminCreateEvents .preview-publish button {
  width: 100px;
  height: 30px;
  border-radius: 4px;
  color: white;
  background-color: #FF6060;
  border: 1px solid #FF6060;
  margin-right: 30px;
  margin-left: 30px;
  cursor: pointer;
}

.AdminCreateEvents .preview-publish button:hover {
  background: #FF8080;
}

.AdminCreateEvents .timeSetup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.AdminCreateEvents .itemDivs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.AdminCreateEvents .itemDivs input {
  width: 70px;
  height: 30px;
  border-radius: 4px;
  border: 1px solid black;
  padding-left: 10px;
  margin-right: 20px;
}

.AdminCreateEvents .timeSetup input {
  width: 70px;
  height: 30px;
  border-radius: 4px;
  border: 1px solid black;
  padding-left: 10px;
}

.AdminCreateEvents .timeSetup, .AdminCreateEvents div select {
  border-radius: 4px;
  color: black;
}

.AdminCreateEvents .center-placeholder input[type="text"]::-webkit-input-placeholder {
  text-align: center;
}

.AdminCreateEvents .center-placeholder input[type="text"]:-ms-input-placeholder {
  text-align: center;
}

.AdminCreateEvents .center-placeholder input[type="text"]::-ms-input-placeholder {
  text-align: center;
}

.AdminCreateEvents .center-placeholder input[type="text"]::placeholder {
  text-align: center;
}

.AdminCreateEvents .add-item button {
  margin-top: 3px;
}

.AdminCreateEvents .buttonSetup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 42px;
}

.AdminCreateEvents .buttonSetup button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.AdminCreateEvents .itemSetup input {
  width: 170px;
  height: 30px;
  border-radius: 4px;
  border: 1px solid black;
}

.AdminCreateEvents .itemSetup {
  margin-top: 20px;
}

.AdminCreateEvents .itemSetup div {
  margin-right: 20px;
}

.AdminCreateEvents .max {
  margin-top: 20px;
}

.AdminCreateEvents .add-item-button {
  background: #FF6060;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  cursor: pointer;
}

.AdminCreateEvents .add-item-button:hover,
.AdminCreateEvents .add-item-button:focus {
  background: #FF8080;
}

.AdminCreateEvents .timeSetup div {
  padding-left: 10px;
  padding-right: 10px;
}

.AdminCreateEvents .timeSetup input {
  width: 80%;
}

.AdminCreateEvents .formLocation {
  position: relative;
  left: 55px;
  bottom: 28px;
}

.AdminCreateEvents .items-label label {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: black;
  line-height: 0px;
}

.AdminCreateEvents .image-size {
  width: 30px;
}

.AdminCreateEvents .menu {
  -webkit-columns: #000000;
          columns: #000000;
}

.AdminCreateEvents .dropDownIcon {
  position: relative;
  top: 4px;
  background: #ffffff;
  border-radius: 15px;
  margin-right: 6px;
}

.AdminCreateEvents .menuHeader {
  margin-right: 180px;
  margin-left: 30px;
}

.AdminCreateEvents .item {
  display: inline-block;
  margin-left: 30px;
  width: 240px;
}

@media screen and (max-width: 500px) {
  .AdminCreateEvents .centered-container {
    width: 300px;
  }
  .AdminCreateEvents .menuHeader {
    margin-left: 20px;
  }
  .AdminCreateEvents .item {
    margin-left: 20px;
  }
  .AdminCreateEvents .itemDivs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .AdminCreateEvents .timeSetup div {
    padding: 0;
  }
  .AdminCreateEvents .formLocation {
    position: relative;
    left: 45px;
    bottom: 28px;
  }
}

@media screen and (max-width: 350px) {
  .AdminCreateEvents .centered-container {
    width: 250px;
  }
}
/*# sourceMappingURL=Admin-create-event-style.css.map */