.AdminCreateEvents{

    .text-centered {
        text-align: center;
    }
    
    .text-left {
        text-align: right;
    }
    
    .padded {
        padding: 20px;
    }

    .centered-container{
        width: 400px;
        
        background: #f3f3f3;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        margin: 0 auto;
        margin-bottom: 20px;
        padding: 20px;
    }
    
    .formEntry {
        margin-bottom: 20px;
    }

    .formEntry input{
        width: 380px;
        height: 30px;
        border-radius: 4px;
        border:1px solid black;
        padding-left: 10px;
    }

    .preview-publish{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 25px;
        
    }
    .preview-publish button{
        width: 100px;
        height: 30px;
        border-radius: 4px;
        color: white;
        background-color: #FF6060;
        border:1px solid #FF6060;
        margin-right: 30px;
        margin-left: 30px;

    }

    .timeSetup {
       
        display: flex;
        flex-direction: row;
    }

    .timeSetup input {
        width: 70px;
        height: 30px;
        border-radius: 4px;
        border:1px solid black;
        padding-left: 10px;
    }

    .center-placeholder  input[type="text"]::placeholder {
        text-align: center; 
    }

    .add-item button{
       margin-top: 3px;
    }

    .buttonSetup{
        display: flex;
        flex-direction: row;
        margin-top: 42px;
        
    }

    .buttonSetup button{
        background-color: Transparent;
        background-repeat:no-repeat;
        border: none;
        cursor:pointer;
        overflow: hidden;
        outline:none;
        

    }

    .itemSetup input{
        width: 170px;
        height: 30px;
        border-radius: 4px;
        border:1px solid black;
    }
    .itemSetup{
        margin-top: 20px;
    }

    .itemSetup div{
        margin-right: 20px;
    }

    .max{
       margin-top: 20px;
    }

    .add-item-button{
        margin-left: 5px;
        
    }


    .timeSetup div {
        margin-right: 17px;
    }

    input:focus,
    select:focus,
    textarea:focus,
    button:focus {
        outline: none;
    }


    .items-label label{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: black;
    line-height: 0px;
    }

    .image-size{
        width: 30px;
        
        
    }

    .menu {
        columns: #000000;;
    }
    
    .dropDownIcon{
        position: relative;
        top: 4px;
        background: #ffffff;
        border-radius: 15px;
        margin-right: 6px;
    }

    .menuHeader {
        margin-right: 180px;
        margin-left: 30px;
    }
    
    .item {
        display: inline-block;
        margin-left: 30px;
        width: 240px;
    }


// h2{
//     font-family: 'Roboto', sans-serif;
//     font-style: normal;
//     font-weight: normal;
//     font-size: 36px;
//     color: black;
//     line-height: 0px;
// }

// .create-event-background{
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     background-color: #F3F3F3;
//     margin: 0 auto;
//     width: 600px;
//     height: 600px;
//     border-radius: 4px;
//     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
// }

// .button-container{
//     display: flex;
//     align-items: center;
//     margin-left: 1000px;
//     height: 80px;
    
// }

// button{
//     background-color: white;
//     border:1px solid black;
//     border-radius: 4px;
//     width: 150px;
//     height: 80px;
//     /* 
    
//     margin-right: 500px;*/
// } 

// .title-container{
//     display: flex;
//     align-items: center;
//     justify-content: center;
   
//     height: 100px;
// }

// label{
    
//     font-family: 'Roboto', sans-serif;
//     font-style: normal;
//     font-weight: normal;
//     font-size: 16px;
//     color: black;
//     line-height: 0px;
// }

// input:focus,
// select:focus,
// textarea:focus,
// button:focus {
//     outline: none;
// }

// input{
//     display: block;
//    border-radius: 4px;
//    width: 430px;
//     height: 30px;
//     border:1px solid black;
//     margin-bottom: 30px;
    
// }

// .debug{
//     border: 2px solid yellow;
//     background-color: red;
// }
// .start-end-time{
//    display: inline;
// }

// .start-end-time input{
//    border-radius: 4px;
//    width: 50px;
//     height: 30px;
//     border:1px solid black;
//     margin-bottom: 30px;
// }


// .form-container{
//     margin: 0 auto;
//     // height:500px;
// }

// .label-stack{
   
// }

}