.inputSpinner{
    .remove-outline{
        border: none;
        outline: none;
        background: none;
    }

    .display-number{
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 4px;
        
        
    }

    .plus-button{
        height: 22px;
        
    }

    .minus-button{
        height: 22px;
    }

    input:focus,
    select:focus,
    textarea:focus,
    button:focus {
        outline: none;
    }

    .spinner-container{
        display: flex;
        flex-direction: row;  
        margin: 0 auto;
        width: 500px;

        .button-cluster {
            display: flex;
            flex-direction: row;
            width: 100px;
        }
        
    }

    h2 {
        font-size: 24px;
    }

    h3, h4{
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        font-weight: normal;
        font-size: 16px;
        color: black;
        line-height: 0px;
    }

    .item-display{
        margin-top: 18px;
        width: 200px;
        text-align: center; 
        
    }

    .max-qty-display{
        margin: 0 auto;
        margin-top: 15px;
        width: 50px
    }

    @media screen and (max-width:500px) {
        .spinner-container{
           width: 315px;
          
        }
        .item-display{
            
            text-align: center;
            width: 105px;
        }
        .max-qty-display{
            
            padding-left: 0px;
            
        }
    }

    @media screen and (max-width:350px) {
        .spinner-container{
            margin-left: 22px;
        }
    }

}